<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="phoenixtranslate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <phoenixtranslate.Properties.Settings>
            <setting name="comboboxLSindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboboxLTindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboboxNavindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboboxLS" serializeAs="String">
                <value />
            </setting>
            <setting name="comboboxLT" serializeAs="String">
                <value />
            </setting>
            <setting name="comboboxNav" serializeAs="String">
                <value />
            </setting>
            <setting name="XpathDeeplS" serializeAs="String">
                <value />
            </setting>
            <setting name="XpathDeeplR" serializeAs="String">
                <value />
            </setting>
            <setting name="XpathGoogleS" serializeAs="String">
                <value />
            </setting>
            <setting name="XpathGoogleR" serializeAs="String">
                <value />
            </setting>
            <setting name="XpathyandexS" serializeAs="String">
                <value />
            </setting>
            <setting name="XpathyandexR" serializeAs="String">
                <value />
            </setting>
        </phoenixtranslate.Properties.Settings>
    </userSettings>
</configuration>